@use "../variables" as *;
@use "../mixins" as *;

.imageSliderWrapper {
  background-color: #f1f1f1;
  height: 100%;

  .currentStep {
    color: $colorSecondary;
    text-transform: capitalize;
  }
  .innerSliderElementWrapper {
    @include flex(column, flex-start, flex-start);
    padding: 3rem 7rem;

    .imageSlider {
      @include flex(row, center, center);
      justify-content: space-between;
      width: 100%;
      height: 100%;
      img {
        height: 90%;
      }
      button {
        padding: 1rem;
        background-color: transparent;
        border: unset;
        font-size: 3rem;
      }
    }
  }
}
.slideIndicators {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;

  .indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s;

    &.active {
      background-color: $colorPrimary;
    }
  }
}
.sliderSummary {
  width: 100%;
  padding: 0 7rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  background-color: #f1f1f1;
  padding-bottom: 4rem;
  font-weight: bold;

  .inner {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border-top: 3px solid lightgrey;
    padding-top: 2rem;

    .text {
    }
    .save {
      text-align: right;
    }
    .price {
      font-size: 2.5rem;
      font-weight: 700;
      color: $colorPrimary;
    }
  }
}
@media only screen and (max-width: 600px) {
}
