@use "../variables" as *;
@use "../mixins" as *;

.imageSliderWrapper {
  background-color: #f1f1f1;
  height: 100%;

  .currentStep {
    color: $colorSecondary;
    text-transform: capitalize;
  }
  .innerSliderElementWrapper {
    @include flex(column, flex-start, flex-start);
    padding: 3rem 7rem;

    .imageSlider {
      @include flex(row, center, center);
      width: 100%;
      height: 100%;
      img {
        height: 90%;
      }
    }
  }
}
