//fonts

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Roboto Slab
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

$primaryFont: "Roboto", sans-serif;
$headerFont: "Roboto Slab", sans-serif;

//$colorLight: black;
//$colorDark: white;

$colorLight: #f9fff9;
$colorDark: #383838;
$colorPrimary: #007c00;
$colorSecondary: #098308;

$colorSecondaryDark: #302c2d; // $colorDark + 4% lightness
$colorSecondaryLight: #e9e7e7; // $colorLight + 4% lightness

$boxShadow: 0 0.5rem 0.5rem rgba($colorDark, 0.1);
