//fonts

// Cantarell
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Fjalla One
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

$primaryFont: "Cantarell", sans-serif;
$headerFont: "Fjalla One", sans-serif;

$colorLight: black;
$colorDark: white;

//$colorLight: #fafafa;
//$colorDark: #252223;
$colorPrimary: #e71408;

$colorSecondaryDark: #302c2d; // $colorDark + 4% lightness
$colorSecondaryLight: #e9e7e7; // $colorLight + 4% lightness

$boxShadow: 0 0.5rem 0.5rem rgba($colorDark, 0.1);
