@use "./variables" as *;
@use "./mixins" as *;

//buttons
.primaryButton {
  background-color: $colorPrimary;
  color: $colorLight;
}
.secondaryButton {
  background-color: $colorDark;
  color: $colorLight;
}

//utilities
.highlight {
  color: $colorPrimary;
}
.center {
  text-align: center;
}
span {
  font-family: inherit;
}
.bold {
  font-weight: bold;
}

//selected options
.selected {
  position: relative;
}
.selected::before {
  position: absolute;
  content: "✓";
  font-size: 3rem;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  .selected::before {
    position: absolute;
    content: "✓";
    font-size: 3rem;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }
}

//grid that is used to divide the page into two parts (because of the unconventional nav menu on desktop)
.grid65to35 {
  display: grid;
  grid-template-columns: 65% 35%;
}
@media only screen and (max-width: 600px) {
  .grid65to35 {
    display: flex;
    flex-direction: column;
  }
}

//classes that hide elements
@media only screen and (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .hideOnDesktop {
    display: none;
  }
}
