@use "./variables" as *;
@use "./mixins" as *;

//buttons
.primaryButton {
  background-color: $colorPrimary;
  color: $colorLight;
}
.secondaryButton {
  background-color: $colorDark;
  color: $colorLight;
}

//utilities
.highlight {
  color: $colorPrimary;
}
.center {
  text-align: center;
}
span {
  font-family: inherit;
}
.selected {
  position: relative;
}

.selected::before {
  position: absolute;
  content: "✓";
  font-size: 3rem;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
}
.bold {
  font-weight: bold;
}
.grid65to35 {
  display: grid;
  grid-template-columns: 65% 35%;
}
