@use "./variables" as *;
@use "./mixins" as *;

// components
@use "./components/accessories" as *;
@use "./components/navBar" as *;
@use "./components/imageSlider" as *;
@use "./components/configurationOptions" as *;
@use "./components/configurationSummary" as *;
@use "./components/mobileBottomNavigation" as *;

// global styles
@use "./global" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: $primaryFont;
}
body {
  @include flex(col, flex-start, flex-start);
  background-color: $colorLight;
  color: $colorDark;

  height: 300vh;
}
#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
}

//----------------------------------------------------------------------------------------------------
//The visualization was done in a 16:10 aspect ratio, so the page displayed on a standard 16:9 monitor
//looks a bit different. While writing the code, it was assumed that the imageSlider should occupy 80%
//of the page height under all conditions - this is not 100% consistent with the visualization,
// but making a final decision requires further consultation.
//----------------------------------------------------------------------------------------------------

.imageSliderAndNavBarWrapper {
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  .imageSliderAndNavBarWrapper {
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
  }
}
